<h1><%= @book_club.name %></h1>
<p><%= @book_club.description %></p>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.title, book_path(book) %> by <%= book.author %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_book_club_path(@book_club) %> | <%= link_to 'Back', book_clubs_path %>
