<%= form_with model: @book do |form| %>

   <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :author %><br>
    <%= form.text_field :author %><br>
  </div>

  <div>
    <%= form.label :genre %><br>
    <%= form.text_field :genre %><br>
 </div>

  <div>
    <%= form.label :status %><br>
    <%= form.select :status, ["Currently Reading", "To Read", "Completed"], prompt: "Select Status" %><br>
 </div>

   <div>
    <%= form.label :book_club_id, "Book Club (Optional)" %><br>
    <%= form.select :book_club_id, options_from_collection_for_select(@book_clubs, :id, :name, @book.book_club_id), include_blank: "No Book Club" %><br>
  </div>

  <div>
    <%= form.label :notes %><br>
    <%= form.text_area :notes %><br>
  </div>

  <div>
    <%= form.label :start_date %><br>
    <%= form.date_field :start_date %><br>
  </div>

  <div>
    <%= form.label :end_date %><br>
    <%= form.date_field :end_date %><br>
  </div>

  <div>
  <%= form.submit "Add Book", class: "btn btn-success" %><br>
  </div>
<% end %>

