<head>
  <%= stylesheet_link_tag 'comments', media: 'all' %>
</head>

<div class="container" style="font-family: 'Newsreader', serif; font-size: 1.2rem; text-align: center; background-color: #f8f9fa;">
  <h1><%= @book.title %></h1>
  <p><strong>Author:</strong> <%= @book.author %></p>
  <p><strong>Genre:</strong> <%= @book.genre %></p>
  <p><strong>Status:</strong> <%= @book.status %></p>
  <p><strong>Notes:</strong> <%= @book.notes %></p>
  <p><strong>Start Date:</strong> <%= @book.start_date %></p>
  <p><strong>End Date:</strong> <%= @book.end_date %></p>

  <% if @book.book_club %>
    <p><strong>Book Club:</strong> <%= @book.book_club.name %></p>
  <% else %>
    <p><strong>Book Club:</strong> Not associated with any book club</p>
  <% end %>

  <% if @book.image_url.present? %>
    <div class="book-image">
      <%= image_tag @book.image_url, alt: "Book Image", class: "img-fluid" %>
    </div>
  <% end %>

  <div class="mt-4 text-center">
    <ul style="list-style-type: none; padding: 0;">
      <li><%= link_to "Edit Book", edit_book_path(@book), class: "btn btn-secondary border-0 w-30 mb-2" %></li>
      <%= button_to "Delete Book", book_path(@book), 
          method: :delete, 
          data: { confirm: "Are you sure?" }, 
          class: "btn btn-warning text-white w-30 mb-2" %>
    </ul>
  </div>
</div>

<div class="book-show">
  <% @book.comments.each do |comment| %>
    <div class="comment">
      <h4><%= comment.title %></h4>
      <p><%= comment.body %></p>
      <% if comment.user == current_user %>
        <%= button_to 'Delete', book_comment_path(@book, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <% end %>
    </div>
  <% end %>

  <div class="comment-form-container">
    <h3>Add a Comment</h3>
    <%= render 'comments/form', book: @book %>
  </div>
</div>
